/* Import global constants */
@import url("constants.css");

/* Article page styles starts here */
.article-page-content {
  display: table;
  clear: both;
}

.article-sub-header {
  float: left;
  padding-right: 2em;
  width: 60%;
}

.article-page-image {
  float: left;
  padding-right: 2em;
  width: 60%;
}

.article-page-main-content {
  float: left;
  padding-right: 2em;
  width: 60%;
}

.article-related-content {
  float: right;
  padding-left: 2em;
  width: 40%;
}

/* Article page styles ends here */

/* Media queries for responsive design and mobile layout starts here */
/* Desktop Styles (min-width: 992px) */
@media (min-width: 992px) {
  /* Article page styles starts here */

  /* Article page styles ends here */
}

/* Tablet Styles (up to 991.98px) */
@media (max-width: 991.98px) {
  /* Article page styles starts here */

  /* Article page styles ends here */
}

/* Mobile Styles (up to 575.98px) */
@media (max-width: 575.98px) {
  /* Article page styles starts here */

  /* Article page styles ends here */
}

/* Media queries for responsive design and mobile layout ends here */
