/* Import global constants */
@import url("constants.css");

/* Research page promoted section starts here */
.page-sub-header {
  width: 50%;
}

.page-layout-promoted-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 4em;
  margin: 2em 0;
}

.promoted-section-main-column,
.promoted-section-secondary-column {
  display: flex;
  width: 50%;
}

.promoted-section-main-column {
  flex-direction: column;
}

.promoted-section-main-column h5 {
  font-size: 2em;
}

.page-layout-promoted-section p {
  font-size: 0.9em;
}

.promoted-section-main-column a picture img {
  width: 100%;
  margin-bottom: 2em;
}

.promoted-section-secondary-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promoted-section-secondary-column h5 {
  font-size: 0.9em;
}

.promoted-section-secondary-column a {
  width: 46%;
}

.article-header {
  font-size: 2em;
  margin-bottom: 0.2em;
}

.page-layout-articles-section {
  margin: 2em 0;
}

.article-container {
  margin: 2em 0;
}

.article-meta-data {
  margin: 0.8em 0;
}

.article-author {
  margin: 0 0.3em;
}

/* Research page promoted section ends here */

/* Media queries for responsive design and mobile layout starts here */
/* Mobile Styles (up to 575.98px) */
@media (max-width: 575.98px) {

  /* Research page promoted section starts here */
  .page-sub-header {
    width: 100%;
  }

  .page-layout-promoted-section {
    display: flex;
    flex-direction: column;
  }

  .promoted-section-main-column {
    width: 100%;
  }

  .promoted-section-secondary-column {
    width: 100%;
    margin: 2em 0;
    row-gap: 4em;
  }

  .promoted-section-main-column a picture img {
    margin-bottom: 0.4em;
  }

  .page-layout-promoted-section p {
    margin: 0.9em 0;
  }

  .promoted-section-secondary-column h5 {
    font-size: 1.4em;
  }

  /* Research page promoted section ends here */
}

/* Media queries for responsive design and mobile layout ends here */