/* Global font styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3 {
  text-transform: lowercase;
}

/* Responsive images default behavior */
.responsive-img img {
  width: auto;
}

/* Media queries for responsive design and mobile layout starts here */
/* Mobile Styles (up to 575.98px) */
@media (max-width: 575.98px) {
  body {
    font-size: 12pt;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24pt;
  }
  p {
    font-size: 14pt;
  }
}

/* Tablet Styles (up to 991.98px) */
@media (max-width: 991.98px) {
  body {
    font-size: 14pt;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24pt;
  }
}

/* Desktop Styles (min-width: 992px) */
@media (min-width: 992px) {
  body {
    font-size: 14pt;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24pt;
  }
  p {
    font-size: 14pt;
  }
}
/* Media queries for responsive design and mobile layout ends here */
