/* Import global constants */
@import url("constants.css");

/* Global font styles starts here*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3 {
  text-transform: lowercase;
}

/* Global font styles ends here*/

/* Global content area margin starts here*/
main {
  margin: 1.6em 2em;
}

/* Global content area margin ends here*/

/* Responsive images default behavior */
.responsive-img img {
  width: auto;
}

/* Header styles starts here */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  padding: .8em 2em;
  color: var(--white-color);
}

.main-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 3em;
}

.main-nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.main-nav .nav-links li {
  white-space: nowrap;
}

.main-nav .logo {
  display: flex;
  align-items: center;
}

.main-nav .search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
}

.main-nav .search {
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: 1em;
  padding-left: .4em;
  height: 1.8em;
  margin: auto 0;
}

.main-nav .search input {
  padding-left: 0.8em;
  font-size: 14.4pt;
}

.main-nav .search input {
  color: var(--black-color);
}

.main-nav .search input {
  width: 100%;
  max-width: 150px;
}

.main-nav .search picture {
  min-width: 24px;
}

.main-nav .search picture image {
  min-width: 24px;
  max-width: 24px;
}

.main-nav .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav .login a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav .mobile-menu {
  min-width: 36pt;
}

header .search {
  font-size: 1.2em;
}

header .login {
  font-size: 1em;
}

header .main-nav {
  font-size: 1.2em;
}

header .logo p {
  font-size: 1em;
}

/* Header styles ends here */

/* Footer styles starts here */
footer {
  display: flex;
  margin-top: 6em;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  background-color: var(--grey-color);
}

.footer-section {
  max-width: 28%;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.footer-section .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  margin: 12pt auto;
  font-size: 1.1em;
  white-space: nowrap;
}

.footer-section .nav-links li {
  white-space: nowrap;
}

.footer-section .nav-links a:hover {
  text-decoration: underline;
}

.footer-section .footer-logo {
  top: -3em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-section .footer-logo p {
  color: var(--white-color);
  font-size: 3.3em;
}

.footer-section .footer-text {
  margin: 1em 0;
}

.footer-section .footer-text h5 {
  margin: 0.4em 0;
}

.footer-section .footer-newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 4em;
  background-color: var(--white-color);
  color: var(--grey-color);
  height: 2em;
}

.footer-section .footer-newsletter picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section .footer-newsletter picture img {
  min-width: 1.2em;
  margin: 0 .4em;
}

.footer-section .footer-newsletter input {
  width: 100%;
}

.footer-section .footer-nav .nav-links li:first-child {
  margin-left: 0;
}

.footer-section .footer-nav .nav-links li:last-child {
  margin-right: 0;
}

.footer-section .footer-nav .nav-links li {
  margin: 0 0.4em;
}

.footer-section .footer-newsletter button {
  height: 100%;
  min-width: 6em;
  padding: 0 0.4em;
  color: var(--white-color);
  background-color: var(--black-color);
}

.footer-section .footer-nav .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.footer-partners .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

.footer-partners .nav-links li {
  flex-wrap: wrap;
}

.footer-partners .nav-links li {
  margin: 12pt 4pt;
}

.footer-partners .nav-links li:first-child {
  margin: 0 auto 0 0;
}

.footer-partners .nav-links li:last-child {
  margin: 0 0 0 auto;
}

footer h5 {
  font-size: 1.2em;
  text-transform: lowercase;
}

footer p {
  font-size: 0.875em;
}

footer a {
  font-size: 0.875em;
}

/* Footer styles ends here */

/* Dynamic header blinking cursor style starts here  */
.page-header {
  margin-bottom: 0.4em;
}

.fixed-main-header {
  position: absolute;
  left: 1.6em;
}

/* Dynamic header blinking cursor style ends here  */

/* Load more styles starts here */
.load-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

#load-more-btn {
  padding: 0.4em 6em;
  text-transform: lowercase;
  background-color: var(--grey-color);
  white-space: nowrap;
}

/* Load more styles ends here */

/* Media queries for responsive design and mobile layout starts here */

/* Desktop Styles (min-width: 992px) */
@media (min-width: 992px) {

  /* Shared styles starts here */
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 0.9em;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  /* Shared styles ends here */

  /* Header styles starts here */
  .main-nav .nav-links li {
    padding: 10px 20px;
  }

  .main-nav .mobile-menu {
    display: none;
  }

  .main-nav .login img {
    padding-left: 8pt;
  }

  /* Header styles ends here */
}

/* Tablet Styles (up to 991.98px) */
@media (max-width: 991.98px) {

  /* Shared styles starts here */
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 0.9em;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  /* Shared styles ends here */

  /* Header styles starts here */
  .main-nav {
    flex-wrap: wrap;
  }

  .main-nav .logo a p {
    font-size: 0.8em;
  }

  .main-nav .login {
    display: none;
  }

  .main-nav .nav-links {
    order: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
  }

  .main-nav .hide {
    display: none;
  }

  .main-nav .nav-links li {
    margin: 1em 0;
  }

  .main-nav .mobile-menu {
    display: flex;
  }

  .main-nav .login img {
    padding-left: 8pt;
  }

  .main-nav .search {
    margin-left: auto;
    height: 1.6em;
  }

  /* Header styles ends here */

  /* Footer styles starts here */
  footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
  }

  footer .footer-section {
    min-width: 54%;
  }

  .footer-section .footer-nav .nav-links {
    justify-content: space-between;
  }

  .footer-section .footer-newsletter {
    width: 100%;
  }

  /* Footer styles ends here */
}

/* Mobile Styles (up to 575.98px) */
@media (max-width: 575.98px) {

  /* Shared styles starts here */
  body {
    font-size: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
  }

  .blinking-cursor {
    font-size: 1.4em;
  }

  .fixed-main-header {
    left: 2.1em;
    font-size: 1.4em;
  }

  /* Shared styles ends here */

  /* Header styles starts here */
  .main-nav {
    column-gap: 1em;
  }

  .main-nav .logo a p {
    font-size: 11.4pt;
  }

  .main-nav .search {
    background-color: var(--black-color);
  }

  .main-nav .search input {
    display: none;
  }

  .main-nav .search img {
    width: 1.2em;
  }

  .main-nav .login {
    display: none;
  }

  .main-nav .nav-links {
    order: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
  }

  .main-nav .hide {
    display: none;
  }

  .main-nav .nav-links li {
    margin: 1em 0;
  }

  .main-nav .mobile-menu {
    margin-left: 0;
  }

  .main-nav .login img {
    padding-left: 8pt;
  }

  .main-nav .login p {
    font-size: 0.8em;
  }

  /* Header styles ends here */

  /* Footer styles starts here */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--white-color);
  }

  #logo-section {
    display: flex;
    width: 100%;
    min-width: 100%;
  }

  .footer-section .footer-logo {
    position: relative;
    top: 1em;
    width: 100%;
  }

  .footer-logo a p {
    width: 100%;
  }

  .footer-logo a img {
    width: 100%;
  }

  .footer-section {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    background-color: var(--grey-color);
  }

  .footer-container>* {
    margin: 0 2em;
  }

  .footer-section .footer-text {
    margin: 1em 2em;
  }

  .footer-section .footer-newsletter {
    margin: 1em 2em;
    width: auto;
    height: 3em;
  }

  .footer-section .footer-partners .nav-links {
    margin: 0 auto;
  }

  #footer-policy-text h5,
  #footer-policy-text p:nth-child(2) {
    display: none;
  }

  .footer-logo a p {
    display: none;
  }

  /* Footer styles ends here */

  /* Featured section styles starts here */
  .featured {
    border-top: 0.1em var(--black-color) solid;
  }

  #featured-section picture img {
    width: 100%;
  }

  .featured-page-header {
    margin: 1em 0;
    font-size: 1.4em;
  }

  /* Featured section styles ends here */
}

/* Mobile Styles (up to 575.98px) */
@media (max-width: 300.98px) {

  /* Header styles starts here */
  .main-nav .search {
    display: none;
  }

  .main-nav .mobile-menu {
    margin-left: auto;
  }

  /* Header styles ends here */

  /* Footer styles starts here */
  .footer-container .footer-partners .nav-links,
  .footer-container .footer-policies .nav-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .footer-container .footer-newsletter {
    display: none;
  }

  /* Footer styles ends here */
}

/* Media queries for responsive design and mobile layout ends here */